body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;

}

p {
  font-weight: 200;
  font-size: 18px;
  color: #4d4d4d;
}

.text-small {
  font-size: 14px;
}

.quote {
  font-style: italic;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 6em;
  color: #4d4d4d;

}

h2 {
  font-size: 30px;
  color: #456175;
  font-weight: 400;
  padding: 20px;
  text-align: center;
}

h3 {
  font-size: 24px;
  color: #456175;
}

h4 {
  font-size: 24px;
  color: #456175;
  font-style: italic;
}

h5 {
  font-weight: 300;
  font-size: 16px;
  color: #456175;
  text-transform: uppercase;

}

.page-section {
  padding: 60px 0;
  margin-bottom: 30px;
}

.text-white {
  color: #FFF;
}

.text-center {
  text-align: center;
}


.btn {
  border-radius: 4px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .1rem;
  display: inline-block;
  padding: 12px 45px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  opacity: 0.75;
}

.btn.btn-blue {
  background-color: #456175;
}

.btn.btn-green {
  background-color: #b2d1c8;
}

.btn.btn-red {
  background-color: #ff9387;
}

.fa-icon {
  padding: 0 10px 0 0;
}

.fa-border {
  margin: 0 10px 0 0;
}

.link {
  text-transform: uppercase;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.no-margin {
  margin: 0;
}



/* header nav */

.topBar {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}


.topBar-leftNav {
  float: left;
  margin: 1.5em;

}

.topBar-rightNav {
  float: right;
  margin: 1.5em;

}

.topBar-item {
  display: inline;
  padding: 1.5em;
}

.ghostBtn {
  padding: 10px 15px;
  border: 1.5px solid gray;
  border-radius: 5px;
}

.topBar-logo {
  margin: 0 auto;
  height: 150px;
  width: 150px;
}



/* hero */

.hero {
  overflow: hidden;
  position: relative;
}

.hero p {
  width: 40%;
}


.heroImage {
  position: absolute;
  top: -40%;
  right: -100px;
  width: 56%;
  z-index: -1;
}

/* how it works ---------------------------------- */

.how-it-works {
  background: #456175;
}

.hiw-heading p {
  padding: 20px;
}

.plan-item {
  background: #FFF;
  border-radius: 2px;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
}

.plan-item ul {
  list-style-type: none;
}


/*.one-cup-plan {
  background: #fff;
  text-align: center;
  width: 100%;
}

@media (min-width: 700px) {
  .one-cup-plan {
    float: left;
    margin: 5%;
    width: 20%;
  }
}*/


.one-cup-plan .btn {
  border-radius: 5px;
  background: #b2d1c8;
  padding: 10px 45px;
  margin: 50px 20px 20px 30px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 2px 0px 0px #19313f

}

/*.two-cup-plan {
  width: 20%;
  text-align: center;
  float: left;
  background: #fff;
  margin: 5%;
}*/

.two-cup-plan .btn {
  border-radius: 5px;
  background: #ff9387;
  padding: 10px 45px;
  margin: 50px 20px 20px 30px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 2px 0px 0px #19313f

}

/* BENEFITS ----------------------------------------------------- */

img.benefits-image {
  width: 100%;
}

.benefits-text h2 {
  color: #456175;
  padding: 20px;
}

.benefits-card {
  border: 1px solid #ccc;
  padding: 40px;
  text-align: center;
}

/* LOCATION ----------------------------------------------------- */

.location {
  background-image: url(../images/car.png);
  background-position: center -170px;

}


/* TESTIMONIALS ------------------------------------------------- */

.testimonials {
  width: 100%;
  position: relative;
}

section.testimonials::after {
  content: "";
  background: url(../images/testimony-bg.png) no-repeat;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size: cover;
}

.blockquote {
  font-style: italic;
  background-color: #fff;
  padding: 46px;
  margin-bottom: 20px;
}


/* CONTACT ----------------------------------------------------- */

.contact {
  background-color: #456175;
}

.contact li {
  display: inline-block;
  padding: 0 10px;
}


/* FOOTER ----------------------------------------------------- */

.footer ul {
  -webkit-columns: 125px 2;
  -moz-columns: 125px 2;
  columns: 125px 2;
}

.footer li {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-copyright {
  border-top: 1px solid #e6e6e6;
  width: 100%;

}

ul.footer-copyright {
  padding: 10px;
}

.footer-copyright li {
  font-size: 12px;
  display: inline;
  padding: 7px;
}



/* EMAIL SIGN UP ----------------------------------------------- */
input[type="email"] {
  background-color: #CCC;
  width: 60%;
}

input[type="email"]:focus,
input[type="email"]:active {
  background-color: #FFF;
}

input[type="submit"].btn-blue {
  color: #FFF;
  position: relative;
  left: -10px;
  width: 30%;
}

.input-button-container {
  position: relative;
  width: 100%;
}


