body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;

}

p {
  font-weight: 300;
  font-size: 20px;
  color: #4d4d4d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 6em;
  color: #4d4d4d;

}

h2 {
  font-size: 30px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 24px;
  font-style: italic;
}

.page-section {
  padding: 60px 0;
  margin-bottom: 30px;
}

.text-white {
  color: #FFF;
}

.text-center {
  text-align: center;
}


.btn {
  border-radius: 5px;
  color: #FFF;
  font-size: 21px;
  display: inline-block;
  margin-top: 10px;
  padding: 12px 45px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  color: #fff;
  opacity: 0.75;
}

.btn.btn-blue {
  background-color: #456175;
}

.btn.btn-green {
  background-color: green;
}

.btn.btn-red {
  background-color: red;
}

.link {
  text-transform: uppercase;
  text-decoration: none;
}

/* header nav */

.topBar {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}


.topBar-leftNav {
  float: left;
  margin: 1.5em;

}

.topBar-rightNav {
  float: right;
  margin: 1.5em;

}

.topBar-item {
  display: inline;
  padding: 1.5em;
}

.ghostBtn {
  padding: 10px 15px;
  border: 1.5px solid gray;
  border-radius: 5px;
}

.topBar-logo {
  margin: 0 auto;
  height: 150px;
  width: 150px;
}



/* hero */

.hero {
  overflow: hidden;
  position: relative;
}

.hero p {
  width: 40%;
}


.heroImage {
  position: absolute;
  top: -40%;
  right: 20px;
  width: 56%;
  z-index: -1;
}

/* how it works ---------------------------------- */

.how-it-works {
  background: #456175;
}

.hiw-heading p {
  padding: 20px;
}

.plan-item {
  background: #FFF;
  border-radius: 2px;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
}

.plan-item ul {
  list-style-type: none;
}


/*.one-cup-plan {
  background: #fff;
  text-align: center;
  width: 100%;
}

@media (min-width: 700px) {
  .one-cup-plan {
    float: left;
    margin: 5%;
    width: 20%;
  }
}*/


.one-cup-plan .btn {
  border-radius: 5px;
  background: #b2d1c8;
  padding: 10px 45px;
  margin: 50px 20px 20px 30px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 2px 0px 0px #19313f

}

/*.two-cup-plan {
  width: 20%;
  text-align: center;
  float: left;
  background: #fff;
  margin: 5%;
}*/

.two-cup-plan .btn {
  border-radius: 5px;
  background: #ff9387;
  padding: 10px 45px;
  margin: 50px 20px 20px 30px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 2px 0px 0px #19313f

}

/* BENEFITS ----------------------------------------------------- */

img.benefits-image {
  width: 100%;
}

.benefits-text h2 {
  color: #456175;
  padding: 20px;
}

.benefits-card {
  border: 1px solid #ccc;
  padding: 40px;
  text-align: center;
}

/* LOCATION ----------------------------------------------------- */



/* TESTIMONIALS ------------------------------------------------- */

.testimonials {
  width: 100%;
  display: block;
  background-image: url("images/testimony-bg.png");
  background-color: #aaa;
}

.blockquote {
  background-color: #fff;
  padding: 20px;
}




